        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h2>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--
        ==================================================
        Footer Section Start
        ================================================== -->
        <footer id="footer">
            <div class="container">
                <div class="row content-justify-between">
                    <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                        <p class="copyright">Copyright: Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                            Get More Bootstrap Template From Our
                            <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Store</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-12">
                        <!-- Social Media -->
                        <ul class="social text-center text-md-right text-lg-right">
                            <li>
                                <a href="http://wwww.fb.com/themefisher" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                    <i class="ion-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="Linkedin">
                                    <i class="ion-social-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer> <!-- /#footer -->

            <!-- Template Javascript Files
            ================================================== -->
            <!-- jquery -->
            <script src="{{ url_for('static', filename='/plugins/jQurey/jquery.min.js') }}"></script>
            <!-- Form Validation -->
            <script src="{{ url_for('static', filename='/plugins/form-validation/jquery.form.js') }}"></script>
            <script src="{{ url_for('static', filename='/plugins/form-validation/jquery.validate.min.js') }}"></script>
            <!-- slick slider -->
            <script src="{{ url_for('static', filename='/plugins/slick/slick.min.js') }}"></script>
            <!-- bootstrap js -->
            <script src="{{ url_for('static', filename='/plugins/bootstrap/bootstrap.min.js') }}"></script>
            <!-- wow js -->
            <script src="{{ url_for('static', filename='/plugins/wow-js/wow.min.js') }}"></script>
            <!-- slider js -->
            <script src="{{ url_for('static', filename='/plugins/slider/slider.js') }}"></script>
            <!-- Fancybox -->
            <script src="{{ url_for('static', filename='/plugins/facncybox/jquery.fancybox.js') }}"></script>
            <!-- template main js -->
            <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
            <script>
            // Add an event listener to all anchor links on the page
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function(e) {
                    e.preventDefault();

                    // Get the target element's id from the href attribute
                    const targetId = this.getAttribute('href').substring(1);

                    // Find the target element by its id
                    const targetElement = document.getElementById(targetId);

                    // Scroll smoothly to the target element
                    if (targetElement) {
                        targetElement.scrollIntoView({
                            behavior: 'smooth',
                            block: 'start' // 'start' is the default and scrolls to the top of the element
                        });
                    }
                });
            });
        </script>
 	</body>
</html>
