<!--
            ==================================================
            Footer Section Start
            ================================================== -->
            <footer id="footer">
                <div class="container">
                    <div class="row content-justify-between">
                        <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                            <p class="copyright">Copyright: Design and Developed by <a href="http://www.Themefisher.com" target="_blank">Themefisher</a>. <br>
                                Get More Bootstrap Template From Our
                                <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Store</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-12">
                            <!-- Social Media -->
                            <ul class="social text-center text-md-right text-lg-right">
                                <li>
                                    <a href="http://wwww.fb.com/themefisher" class="Facebook">
                                        <i class="ion-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wwww.twitter.com/themefisher" class="Twitter">
                                        <i class="ion-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="Linkedin">
                                        <i class="ion-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://wwww.fb.com/themefisher" class="Google Plus">
                                        <i class="ion-social-googleplus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->

	<!-- Template Javascript Files
	================================================== -->
	<!-- jquery -->
	<script src="static/plugins/jQurey/jquery.min.js"></script>
	<!-- Form Validation -->
    <script src="static/plugins/form-validation/jquery.form.js"></script>
    <script src="static/plugins/form-validation/jquery.validate.min.js"></script>
	<!-- slick slider -->
	<script src="static/plugins/slick/slick.min.js"></script>
	<!-- bootstrap js -->
	<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- wow js -->
	<script src="static/plugins/wow-js/wow.min.js"></script>
	<!-- slider js -->
	<script src="static/plugins/slider/slider.js"></script>
	<!-- Fancybox -->
	<script src="static/plugins/facncybox/jquery.fancybox.js"></script>
	<!-- template main js -->
	<script src="static/js/main.js"></script>
    <script>
    // Add an event listener to all anchor links on the page
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
            e.preventDefault();

            // Get the target element's id from the href attribute
            const targetId = this.getAttribute('href').substring(1);

            // Find the target element by its id
            const targetElement = document.getElementById(targetId);

            // Scroll smoothly to the target element
            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start' // 'start' is the default and scrolls to the top of the element
                });
            }
        });
    });
</script>

 	</body>
</html>
